<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" id="row1">#</th>
                <th scope="col" id="row2">Job</th>
                <th scope="col" id="row3">Date</th>
                <th scope="col" id="row4">Options</th>
            </tr>
        </thead>
        <tbody *ngIf="objectData">
            <tr>
                <th scope="row" id="row1">1</th>
                <td id="row2-text">{{objectData.name}}</td>
                <td id="row3">{{objectData.des}}</td>
                <td id="row4-option">@mdo</td>
            </tr>
        </tbody>
    </table>
</div>