<div class="container">
    <a class="btn btn-primary btn-lg" href="#popup1" role="button" *ngIf="visiable" (click)="clickbutton()">create</a>
</div>

<div class="popup" id="popup1" *ngIf="!visiable" style="transition: 2s all">
    <a href="#" (click)="clickbutton($event)" style="text-decoration: none" id="cancel">&times;</a>
    <form action="" method="post" id="form" #formJob="ngForm">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Job</label>
            <div class="col-sm-10">
                <input type="text" [(ngModel)]="name" class="form-control" id="staticEmail" placeholder="Job..." autofocus name="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description" placeholder="Description..." [(ngModel)]="description">
            </div>
        </div>
        <div id="check-box" style="display: inline">
            <label class="container-button" style="margin: 10px;color: greenyellow">Normal
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark" ></span>
                      </label>
            <label class="container-button" style="margin: 10px;color: orange">Not Hungry
                        <input type="radio" name="radio">
                        <span class="checkmark" ></span>
                      </label>
            <label class="container-button" style="margin: 10px; color: red">Hungry
                        <input type="radio" name="radio">
                        <span class="checkmark" ></span>
                      </label>
        </div>
        <div class="form-group row" style='top: 10%'>
            <label for="Date" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
                <input type="date" name="date" class="form-control" id="Date" placeholder="Date..." style="width: 60%;" [(ngModel)]="date" [value]="date">
            </div>
        </div>
        <!-- <div class="box">
            <select [(ngModel)]="selectedValue" required>
                <option *ngFor="let city of options" [ngValue]="city.value" [(ngModel)]="city.value" >{{city.value}}</option>
             </select>
        </div> -->
        <button type="submit" class="btn btn-primary" id='button-summit' value="submit" (click)="onClickSubmit(formJob.value)" (click)="clickbutton()" (click)="showdata()">Submit</button>
    </form>

</div>
<div>
</div>